# Directory
/.vscode
/build
/data
/third-party/eigen-3.4.0
/third-party/opencv_contrib-4.5.3
/third-party/eigen-3.4.0.zip
/third-party/opencv_contrib-4.5.3.zip
# /third-party/
# /third-party/
# /third-party/


# File
*.bmp
*.jpg
*.jpeg
*.jpeg2000
*.png
*.tiff
*.gif
*.pgm
*.csv
